## Import Libraries

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

In [2]:
# Specify the file path

file_path = '/Users/daphne/Downloads/DY_6.1/Prepared Data/DY_Chocolate_Ratings_df.xlsx'

In [3]:
# Import file

df = pd.read_excel(file_path)

## Data Cleaning

In [5]:
# Rename columns

df.rename(columns={
    'Company \n(Maker-if known)': 'Company', 
    'Specific Bean Origin\nor Bar Name': 'Specific Bean Origin',
    'REF': 'Reference #',
    'Review\nDate': 'Review Date',
    'Cocoa\nPercent': 'Cocoa Percent',
    'Company\nLocation': 'Company Location',
    'Rating': 'Rating',
    'Bean\nType': 'Bean Type',
    'Broad Bean\nOrigin': 'Broad Bean Origin'

}, inplace=True)

In [6]:
df.head()

,Company \n(Maker-if known),Specific Bean Origin,Reference #,Review Date,Cocoa Percent,Company Location,Rating,Bean Type,Broad Bean Origin
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,,Sao Tome
1,A. Morin,Kpime,1676,2015,70%,France,2.75,,Togo
2,A. Morin,Atsane,1676,2015,70%,France,3.00,,Togo
3,A. Morin,Akata,1680,2015,70%,France,3.50,,Togo
4,A. Morin,Quilla,1704,2015,70%,France,3.50,,Peru

In [7]:
# Checking for missing values

df.isnull().sum()

Company \n(Maker-if known)    0
Specific Bean Origin          0
Reference #                   0
Review Date                   0
Cocoa Percent                 0
Company Location              0
Rating                        0
Bean Type                     1
Broad Bean Origin             1
dtype: int64

In [8]:
# Finding duplicates

df_dups = df[df.duplicated()]

In [9]:
df_dups

Empty DataFrame
Columns: [Company
(Maker-if known), Specific Bean Origin, Reference #, Review Date, Cocoa Percent, Company Location, Rating, Bean Type, Broad Bean Origin]
Index: []

In [10]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1795 entries, 0 to 1794
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Company
(Maker-if known)  1795 non-null   object
 1   Specific Bean Origin       1795 non-null   object
 2   Reference #                1795 non-null   int64
 3   Review Date                1795 non-null   int64
 4   Cocoa Percent              1795 non-null   object
 5   Company Location           1795 non-null   object
 6   Rating                     1795 non-null   float64
 7   Bean Type                  1794 non-null   object
 8   Broad Bean Origin          1794 non-null   object
dtypes: float64(1), int64(2), object(6)
memory usage: 126.3+ KB
None

In [11]:
df.head(20)

,Company \n(Maker-if known),Specific Bean Origin,Reference #,Review Date,Cocoa Percent,Company Location,Rating,Bean Type,Broad Bean Origin
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,,Sao Tome
1,A. Morin,Kpime,1676,2015,70%,France,2.75,,Togo
2,A. Morin,Atsane,1676,2015,70%,France,3.00,,Togo
3,A. Morin,Akata,1680,2015,70%,France,3.50,,Togo
4,A. Morin,Quilla,1704,2015,70%,France,3.50,,Peru
5,A. Morin,Carenero,1315,2014,70%,France,2.75,Criollo,Venezuela
6,A. Morin,Cuba,1315,2014,70%,France,3.50,,Cuba
7,A. Morin,Sur del Lago,1315,2014,70%,France,3.50,Criollo,Venezuela
8,A. Morin,Puerto Cabello,1319,2014,70%,France,3.75,Criollo,Venezuela
9,A. Morin,Pablino,1319,2014,70%,France,4.00,,Peru
10,A. Morin,Panama,1011,2013,70%,France,2.75,,Panama
11,A. Morin,Madagascar,1011,2013,70%,France,3.00,Criollo,Madagascar
12,A. Morin,Brazil,1011,2013,70%,France,3.25,,Brazil
13,A. Morin,Equateur,1011,2013,70%,France,3.75,,Ecuador
14,A. Morin,Colombie,1015,2013,70%,France,2.75,,Colombia
15,A. Morin,Birmanie,1015,2013,70%,France,3.00,,Burma
16,A. Morin,Papua New Guinea,1015,2013,70%,France,3.25,,Papua New Guinea
17,A. Morin,Chuao,1015,2013,70%,France,4.00,Trinitario,Venezuela
18,A. Morin,Piura,1019,2013,70%,France,3.25,,Peru
19,A. Morin,Chanchamayo Province,1019,2013,70%,France,3.50,,Peru

In [12]:
# Bean Type missing values

missing_values = df['Bean Type'].isnull().sum()
print(f"Number of missing values in 'Bean Type' column: {missing_values}")

Number of missing values in 'Bean Type' column: 1

There are many missing values in the 'Bean Type' column. I belive it is not showing up because in the excel dataset the missing value cells have these symbols '¬†'. I am undecided with what I want to do with the column at this time. I will leave it as is for the time being.

In [13]:
# Exporting DF

df.to_csv('DY_Chocolate_Ratings_df', index=False)

In [14]:
# Exporting DF

df.to_excel('DY_Chocolate_Ratings_df.xlsx', index=False)